/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  // font-family: var(--ff-sans-normal);
  // font-size: var(--fs-400);
  // color: hsl(var(--clr-white));
  // background-color: hsl(var(--clr-dark));
  // line-height: 1.5;
  // min-height: 100vh;

  // display: grid;
  // grid-template-rows: min-content 1fr;

  // overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  border-radius: 50%;
  width: 30%;
}

.card-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  img {
    border-radius: 2rem;
    object-fit: contain;
    max-height: 25rem;
    max-width: 25rem;
  }
}
